main {
    margin-top: 2%;
    flex-wrap: flex;
    justify-content: space-between;
}
h1 {
    background-image: url('../images/weather-background.jpg');
    background-size: cover;
    height: 130px;
    font-family: 'Sofia', cursive;
    font-size: 3.5rem;
    font-weight: bolder;
    text-align: center;
    margin: auto;
    padding-top: 2%;
    color: rgb(4, 65, 86);
    text-shadow: 1px 2px 5px rgb(126, 100, 50);
}

ul {
    list-style: none !important;
}

#cityName {
    margin-bottom: 10px;
}

img {
    width: 4rem;
}

.sideColumn {

}